.icon-s {
  padding-left: 1.89rem !important;
  background-position: 5% center;
}

.icon--folder-open-outline {
  background-image: url("../icons/folder-open-outline.svg");
}

.icon--home-filled {
  background-image: url("../icons/home-filled.svg");
}
